body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 12px;
    background: url("../images/bg.jpg") 0 0 repeat-x;
}

.container {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    *zoom: 1
}

.container:before, .container:after {
    display: table;
    line-height: 0;
    content: ""
}

.container:after {
    clear: both
}

#header {
    height: 60px;
    background: url("../images/header.png") 0 0 no-repeat;
}

#logo {
    width: 300px;
    height: 60px;
    line-height: 60px;
    float: left;
    background: url("../images/logo.png") 0 0 no-repeat;
}

#seo {
    width: 240px;
    height: 60px;
    line-height: 60px;
    float: right;
    text-align: right;
}

#sub {
    width: 70px;
    height: 60px;
    line-height: 60px;
    float: right;
}

#search {
    width: 180px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #E2E2E2;
    outline: none;
    padding: 0px 4px;
}

#submit {
    width: 70px;
    height: 24px;
    line-height: 24px;
    background: #558EB9;
    border: 1px solid #4F9ED9;
    color: #F7F7F7;
    font-weight: bold;
    padding: 0px;
    font-size: 11px;
}

#menu {
    height: 38px;
    background-color: #3681AE;
    margin-bottom: 6px;
}

.item {
    width: 125px;
    float: left;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

#content {
    margin: 0 0 10px 0;
    height: auto;
    overflow: hidden;
    clear: both;
    background-color: #FFFFFF;
}

#left {
    float: left;
    width: 212px;
    height: auto;
    overflow: hidden;
    margin: 0px;
}

.grid-header {
    height: 26px;
    line-height: 26px;
    color: #FFFFFF;
    padding-left: 26px;
    font-size: 11px;
    background-color: #3681AE;
}

.grid-container {
    min-height: 200px;
    background-color: #E3E3E3;
}

#right {
    float: right;
    width: 780px;
    height: auto;
    overflow: hidden;
}

#slideshow {
    height: 226px;
    background-color: #E3E3E3;
}

.content-title {
    height: 14px;
    color: #005F97;
    font-weight: bold;
}

#aboutus {
    margin-top: 6px;
    height: 160px;
}

#hotpouducts {
    height: 840;
}

#footer {
    padding: 12px 0px;
    font-size: 95%;
    text-align: center;
    border-top: 6px solid #3681AE;
    clear: both;
}

#footer a {
    color: #999;
    text-decoration: underline;
}